<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О компании</title>
</head>
<body>
    <h1>О компании</h1>
<ul>
    <li>Наша компания представляет собой комфортную и красивую одежду, когда покупателю хочется заходить и видеть новые коллекции, тем самым своими хорошими отзывами развивают бренд, дают огласку и становятся постояльцами</li>
</ul>
</body>
</html>
{% extends 'base.html' %}
    {% block title %} Купить товар {% endblock %}
    {% block content%}
    {% endblock %}
