<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Корзина</h1>
        <p>Здесь будет список ваших товаров.</p>
        <a href="/" class="btn btn-secondary">Вернуться к покупкам</a>
    </div>
</body>
</html>
{% extends 'base.html' %}
        {% block title %} Купить товар {% endblock %}
        {% block content%}
        {% endblock %}

